<h1><%=@book.name%></h1>

<h2>Authors:</h2>
<% if @authors.any?() %>
<ul>
  <% @authors.each do |author| %>
  <li><h3><%= author.name() %></h3></li>
  <% end %>
</ul>
<% else %>
<p>There are no authors yet!</p>
<% end %>
<br>


<p> add author to book</p>

<form action="/author" method="post">
  <input id="book_id" name="book_id" type="hidden" value="<%= @book.id() %>">
  <label for="author">Author's Name:</label>
  <input id="author" name="author" type="text">

  <button type="submit">Add author</button>
</form>
<br>

<form action="/author_edit/<%= @book.id() %>" method="post">
  <input name="_method" type="hidden" value="delete">

  <button type="submit">Delete Authors</button>
</form>
