<h1> Fill out your info to receive library access</h1>
<h3>Add name</h3>
<form  action="/patron" method="post">
  <div class="form-group">
    <input type="text" name="name" id='name' placeholder="Your Name" autofocus>
    <button type="submit" class="button btn">Add name</button>
  </div>
</form>










  <a href="/librarian_home">Click here to enter Admin page</a>
